In [ ]:
# mutable : list , dictionary, set ( itself  add and remove element after creating), bytearray
# immutable: numbers , string, tuple, frozenset

In [7]:
count = 34

In [8]:
print(count)

34

In [9]:
f = 3.14

In [10]:
print(f)

3.14

In [12]:
r = float(count)
print(r)

34.0

In [13]:
res = hex(r)
print(res)

TypeError: 'float' object cannot be interpreted as an integer

In [14]:
res = hex(count)
print(res)

0x22

In [15]:
res2 = int(r)
print(res2)

34

In [1]:
int = 4

In [2]:
print(int)

4

In [3]:
float(int)

4.0

In [4]:
age = 25

In [5]:
float(age)

25.0

In [6]:
comp = 3+4j

In [7]:
comp

(3+4j)

In [8]:
comp2 = complex(5,3)

In [9]:
comp2

(5+3j)

In [11]:
# fractions :

0.333   # ->  # has 1/3

0.333

In [14]:
from fractions import  Fraction

In [17]:
fn1 = Fraction(4,6)
fn1

Fraction(2, 3)

In [18]:
# <,>,>=,<=, == , !=

In [19]:
# + , - , *, /(divisor), %(reminder), **

In [20]:
age_p1 = 23

In [21]:
age_p1 +4

27

In [22]:
45/5

9.0

In [23]:
45%5

0

In [24]:
info = -34

In [25]:
info/10     # divisor

-3.4

In [26]:
info%10         # reminder

6

In [27]:
info**2

1156

In [28]:
-info

34

In [29]:
import math

In [30]:
math.sqrt(144)

12.0

In [31]:
math.floor(4.56)

4

In [32]:
math.floor(-3.14)

-4

In [33]:
math.trunc(4.89)

4

In [35]:
math.ceil(24.123)

25

In [38]:
math.pi     #22/7

3.141592653589793

In [39]:
# string: sequence of characters

In [40]:
name = "mani"

In [41]:
name

'mani'

In [42]:
type(name)

str

In [43]:
details = "i have a bike"

In [44]:
details

'i have a bike'

In [45]:
value = '456' + 5

TypeError: can only concatenate str (not "int") to str

In [47]:
value = '456' + '5'
value

'4565'

In [1]:
str = 'this is mani\'s pen'
str

"this is mani's pen"

In [2]:
str1 = "this is mani's pen"
str1

"this is mani's pen"

In [3]:
str2 = 'this is mani's pen'

SyntaxError: invalid syntax (2939238398.py, line 1)

In [4]:
info = 'hi, iam godd. lets meet at "imax".'
info                                            # ' -- escape characters in python.

'hi, iam godd. lets meet at "imax".'

In [6]:
# string slicing: [start:end-1:step]
name = 'manikanta'
print(name[3])

i

In [7]:
name[7]

't'

In [16]:
name[-1]

'a'

In [19]:
name[0:9]

'manikanta'

In [25]:
name[:]

'manikanta'

In [24]:
name[4:]

'kanta'

In [26]:
name[0:-4]

'manik'

In [27]:
name[0:-4:2]            # m n k

'mnk'

In [29]:
name[::3]           # m i n

'min'

In [1]:
data = 'hello , this is maniknata from kakinada'

In [2]:
data[::-1]

'adanikak morf atankinam si siht , olleh'

In [3]:
data[0:-1]

'hello , this is maniknata from kakinad'

In [4]:
data[:]

'hello , this is maniknata from kakinada'

In [5]:
data[:9:3]

'hl,'

In [9]:
comments = ''' a new information for demo'''

In [10]:
comments

' a new information for demo'

In [11]:
num = 33
num

33

In [12]:
type(num)

int

In [15]:
s1=str(num)

In [17]:
type(s1)

str

In [18]:
s2 = float(s1)
s2

33.0

In [19]:
type(s2)

float

In [20]:
'a' in comments

True

In [21]:
'is' in comments

False

In [22]:
first_name = 'mani'         # concatenation
last_name = 'kanta'

In [24]:
first_name + last_name + comments

'manikanta a new information for demo'

In [25]:
first_name *3

'manimanimani'

In [27]:
# escape characters: 

path = 'c:\apps\home'
print(path)

c:pps\home

In [32]:
file_path = 'c:\new\temp1.txt'
print(file_path)                    #\n -- it means new line
                                    #\t -- it means 4 spaces

c:
ew	emp1.txt

In [33]:
msg = 'my file is in path: c:\new1 folder. my file full path is c:\new1\temp1.txt.'

In [34]:
print(msg)

my file is in path: c:
ew1 folder. my file full path is c:
ew1	emp1.txt.

In [1]:
new_path = 'c:\\new2\\text.txt'
print(new_path)

c:\new2\text.txt

In [4]:
path_1 = r"c:\new\text.txt"     # r -> raw string
print(path_1)

c:\new\text.txt

In [5]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
data = 'hi how are you? I am good.'
data

'hi how are you? I am good.'

In [20]:
len(data)

26

In [21]:
'.' in data

True

In [22]:
'mahesh' in data

False

In [23]:
data.find('.')

25

In [24]:
data.index('i')

1

In [25]:
data=data.replace('hi','Hi')

In [26]:
data

'Hi how are you? I am good.'

In [28]:
names = 'mani,shankar,hari,janakiram,krishna'

In [30]:
names

'mani,shankar,hari,janakiram,krishna'

In [29]:
names.split(',')

['mani', 'shankar', 'hari', 'janakiram', 'krishna']

In [31]:
names.lower()

'mani,shankar,hari,janakiram,krishna'

In [32]:
names.upper()

'MANI,SHANKAR,HARI,JANAKIRAM,KRISHNA'

In [33]:
data.startswith('hi')

False

In [34]:
data.endswith('.')

True

In [35]:
result=data.strip()
print(result)

Hi how are you? I am good.

In [36]:
''.join(names)

'mani,shankar,hari,janakiram,krishna'

In [37]:
'--'.join(names)

'm--a--n--i--,--s--h--a--n--k--a--r--,--h--a--r--i--,--j--a--n--a--k--i--r--a--m--,--k--r--i--s--h--n--a'

In [38]:
# ASCII values : 

# A-Z or a-z or 0-9 or ! @ # $ % ....? = 256 characters

In [39]:
ord('A')

65

In [40]:
ord('a')

97

In [41]:
chr(55)

'7'