In [2]:
# dictionary_(mutable): 
# key & value - pairs:
# ordered 
# indexing
# Heterogeneous - can contain any type of objects.

In [9]:
d1 = {'a':1,'b':2,'c':3}  
d1                            # dictionary

{'a': 1, 'b': 2, 'c': 3}

In [8]:
d1['a']         # accessing values based on key

1

In [13]:
len(d1)

3

In [14]:
dic2 = {'name': 'ram', 'latest movies':{'2023':'RRR','2024':'Game changer'},'locations':['Hyderabad','mumbai','dehli']} 
dic2

{'name': 'ram',
 'latest movies': {'2023': 'RRR', '2024': 'Game changer'},
 'locations': ['Hyderabad', 'mumbai', 'dehli']}

In [15]:
type(dic2)

dict

In [18]:
dic2['latest movies']

{'2023': 'RRR', '2024': 'Game changer'}

In [2]:
dd = {'name':'mani','roll.no':2,['t1,t2']:23,24:'cherry'}

TypeError: unhashable type: 'list'

In [5]:
dict_1 = dict(name='manikanta',age=26,gender='m')       # creating dictionary using dict()

In [6]:
dict_1

{'name': 'manikanta', 'age': 26, 'gender': 'm'}

In [7]:
dict_2 = {}         # creating empty dictionary
dict_2

{}

In [8]:
dic3 = dict(name='mahesh',2='hyd')      # key should be string with quotes
dic3

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2018996794.py, line 1)

In [9]:
dict_4 = dict([('name','mahesh'),('age',23),('gender','m')])
dict_4

{'name': 'mahesh', 'age': 23, 'gender': 'm'}

In [10]:
# zip()   --> 

info = ['name','age',1]
det = ['mani',22,'hyd']

r = list(zip(info,det))
r

[('name', 'mani'), ('age', 22), (1, 'hyd')]

In [11]:
d1 = dict(r)

In [12]:
d1

{'name': 'mani', 'age': 22, 1: 'hyd'}

In [14]:
d7=dict.fromkeys(['name','age',1],"no idea")
d7

{'name': 'no idea', 'age': 'no idea', 1: 'no idea'}

In [9]:
bank = {'name': 'ICICI', 'rank': 2, '#':{'hyd':32,'mumbai':45,'Delhi':77}}
bank

{'name': 'ICICI', 'rank': 2, '#': {'hyd': 32, 'mumbai': 45, 'Delhi': 77}}

In [10]:
bank['#']

{'hyd': 32, 'mumbai': 45, 'Delhi': 77}

In [11]:
len(bank)

3

In [12]:
bank['#']['Delhi']

77

In [13]:
32 in '#'           # in operator only check the keys in the dictionary

TypeError: 'in <string>' requires string as left operand, not int

In [14]:
'hyd' in '#'

False

In [15]:
'#' in bank

True

In [17]:
bank.keys()         # find the all keys in the dictionary

dict_keys(['name', 'rank', '#'])

In [18]:
bank['country'] = 'India'
bank

{'name': 'ICICI',
 'rank': 2,
 '#': {'hyd': 32, 'mumbai': 45, 'Delhi': 77},
 'country': 'India'}

In [19]:
len(bank)

4

In [20]:
bank.keys()         # return all the keys in the dictionary

dict_keys(['name', 'rank', '#', 'country'])

In [22]:
bank.values()           # return values of the elements of the dictionary

dict_values(['ICICI', 2, {'hyd': 32, 'mumbai': 45, 'Delhi': 77}, 'India'])

In [23]:
bank.items()            # it's return key part and value part in the dictionary

dict_items([('name', 'ICICI'), ('rank', 2), ('#', {'hyd': 32, 'mumbai': 45, 'Delhi': 77}), ('country', 'India')])

In [24]:
new_bank = bank.copy()
new_bank                        # copying dictionary to another new dictionary

{'name': 'ICICI',
 'rank': 2,
 '#': {'hyd': 32, 'mumbai': 45, 'Delhi': 77},
 'country': 'India'}

In [25]:
new_bank == bank

True

In [26]:
new_bank.clear()            # remove the elements in the dictionary

In [27]:
new_bank

{}

In [30]:
bank.get('name')            # accessing element using get() method

'ICICI'

In [32]:
r = bank.get('Name')
print(r)

None

In [33]:
r = bank.get('Name', 'Not available')
print(r)

Not available

In [34]:
bank

{'name': 'ICICI',
 'rank': 2,
 '#': {'hyd': 32, 'mumbai': 45, 'Delhi': 77},
 'country': 'India'}

In [35]:
bank.pop('country')         # deleting element in the dictionary

'India'

In [36]:
bank

{'name': 'ICICI', 'rank': 2, '#': {'hyd': 32, 'mumbai': 45, 'Delhi': 77}}