In [1]:
# set is a data type: unordered collection of unique and immutable objects.

In [2]:
# set is mutable 
# but the each element of the set is immutable

In [5]:
s = {1,'hi',22,78.23,True,12,23,5,False,(45,23,False,'Rajesh')}
s

{(45, 23, False, 'Rajesh'), 1, 12, 22, 23, 5, 78.23, False, 'hi'}

In [6]:
type(s)

set

In [9]:
s2 = set()
type(s2)            # this is the way of creating the empty set

set

In [10]:
list('mani')

['m', 'a', 'n', 'i']

In [11]:
set('suresh')           # remove duplicates

{'e', 'h', 'r', 's', 'u'}

In [14]:
import random
lis3 = random.choices(range(0,5), k = 8)        # this is creating list from random
lis3

[0, 0, 2, 0, 1, 0, 0, 2]

In [16]:
s4 = set(lis3)
s4                      # covert list to set

{0, 1, 2}

In [11]:
# set methods:

s1 = {1,7.4}

In [12]:
s1.add('mani')
s1

{1, 7.4, 'mani'}

In [13]:
s1.add(15)

In [14]:
import random
list1 =random.choices(range(5,50,1), k=10)
list1

[11, 30, 20, 36, 33, 46, 21, 25, 42, 19]

In [15]:
s2 = set(list1)
s2

{11, 19, 20, 21, 25, 30, 33, 36, 42, 46}

In [16]:
s2.add(50)              # adding elements to  the end of the set
s2

{11, 19, 20, 21, 25, 30, 33, 36, 42, 46, 50}

In [17]:
s1 & s2             # intersection of two sets

set()

In [18]:
s1.intersection(s2)

set()

In [19]:
s1 | s2             # union of two sets

{1, 11, 15, 19, 20, 21, 25, 30, 33, 36, 42, 46, 50, 7.4, 'mani'}

In [20]:
s1.union(s2)

{1, 11, 15, 19, 20, 21, 25, 30, 33, 36, 42, 46, 50, 7.4, 'mani'}

In [21]:
s1 - s2

{1, 15, 7.4, 'mani'}

In [22]:
s1.difference(s2)       # different element of s1 and s2

{1, 15, 7.4, 'mani'}

In [23]:
s3 = s2.copy()

In [24]:
s3

{11, 19, 20, 21, 25, 30, 33, 36, 42, 46, 50}

In [27]:
s3.discard(21)          # discard remove the element is present in the set

In [28]:
s3

{11, 19, 20, 25, 30, 33, 36, 42, 46, 50}

In [29]:
s3.pop()

33

In [36]:
s3

{19, 20, 25, 30, 36, 42, 46, 50}

In [37]:
s3.remove(11)           # element is existing then remove the element

KeyError: 11

In [38]:
s3

{19, 20, 25, 30, 36, 42, 46, 50}

In [39]:
# list - insertion order maintained, duplicate elements allowed, element of list can be mutable or immutable.
# set - no insertion order maintained, maintained, only unique elements allowed, element of set must be immutable.