In [4]:
# tuple -- it is imutable
# can't add a new element
#  can't delete existing ele
# can't change the order of elements

In [2]:
tup1 = (1,2,3,4,5,-1,-3,4,55,'hi',44.3)

In [3]:
tup1

(1, 2, 3, 4, 5, -1, -3, 4, 55, 'hi', 44.3)

In [5]:
len(tup1)

11

In [9]:
 t2 = (77)      # this is wrong syntax
 t2

77

In [11]:
t3 = (77,)      # this proper syntax
t3

(77,)

In [12]:
len(t3)

1

In [13]:
tup = tuple('mani')
tup

('m', 'a', 'n', 'i')

In [1]:
l1=list('mani')

In [2]:
l1

['m', 'a', 'n', 'i']

In [3]:
t1 = tuple(l1)
t1

('m', 'a', 'n', 'i')

In [4]:
import random

In [8]:
lst1=random.choices(range(-7,15), k=10)
lst1

[6, 7, 6, 8, -6, 5, 4, 2, -7, 9]

In [9]:
t1[3]

'i'

In [10]:
t1[-2]

'n'

In [11]:
'n' in t1

True

In [12]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [13]:
 tupl = tuple(lst1)
 tupl

(6, 7, 6, 8, -6, 5, 4, 2, -7, 9)

In [14]:
tupl.count(6)

2

In [15]:
tupl.index(7)

1