In [2]:
# 1) name = "Mahesh babu". reverse words in a given string.

name = " Mahesh babu  "
print(name[::-1])

  ubab hsehaM

In [3]:
name[2]

'a'

In [4]:
name[7:]

' babu  '

In [5]:
len(name)

14

In [6]:
n1=name.strip()
n1

'Mahesh babu'

In [7]:
n1.upper()

'MAHESH BABU'

In [8]:
if 'babu' in n1:
    print('yes')

yes

In [9]:
len(name)

14

In [10]:
count = 0
for char in name:
    count+=1
print(count)

14