In [5]:
# assignment statement:
name = 'mahesh'

In [6]:
weight, rank = 45.67, 14        # tuple assignment

In [7]:
weight

45.67

In [8]:
rank

14

In [11]:
[name,city,pin_code] = ['Rakesh','pune',203522]     # list assignment

In [12]:
city

'pune'

In [17]:
x,y,z = 'ram'       # sequence assignment

In [18]:
y

'a'

In [19]:
age,city,percentage = [23,'mumbai',99.5]

In [20]:
city

'mumbai'

In [24]:
my_name = your_name = 'Lokesh'      # multiple target assignment

In [25]:
your_name

'Lokesh'

In [26]:
my_name

'Lokesh'

In [27]:
age = 23
age = age+1             # augmented assignment

In [28]:
age

24

In [40]:
a, *b = 'spam'      # if star before any variable means - form a list
                    # extended sequence unpacking assignment form
                    # max only one star --> a, *b , *c this is syntax error

In [41]:
a

's'

In [42]:
b

['p', 'a', 'm']

In [43]:
c , *d = 324

TypeError: cannot unpack non-iterable int object

In [45]:
# variable rules:

# 1) variable must start with (underscore or letter) + (any number of letters, digits, or underscore)
# 2) case sensitiveS Spam is not same as spam

In [46]:
# 3) reserved words are off-limit.  ( self is not a reserved word in python)

In [47]:
as = 34

SyntaxError: invalid syntax (1907343799.py, line 1)

In [48]:
# print statement:

print(age)

24

In [50]:
print(name)

Rakesh

In [51]:
print(city)

mumbai

In [52]:
print(name,age,city)

Rakesh 24 mumbai

In [54]:
print(name,age,city,sep='|',end='.')

Rakesh|24|mumbai.

In [55]:
print('hello',end='.')

hello.

In [1]:
# exactly 1 if - 0 or 1 or more elif - 0 or 1 else blok

In [2]:
# nested if statements

In [6]:
import random 
movie_col=random.randint(100,800)
print("movie_col", movie_col,sep='-->>>')
movie_name = input("Enter a good movie name: ")
movie_budget = int(input("Enter movie budget: "))

print(movie_name,movie_budget, sep='--->>>')

if movie_budget >= 500:
    if movie_col < 500:
        print(movie_name, 'is FLOP')
    elif movie_col >500 and movie_col <= 700:
        print(movie_name,'is Average')
    elif movie_col >750 and movie_col <= 1000:
        print(movie_name,'is hit movie')
    else:
        print(movie_name,'is Block buster')
elif movie_budget > 500  and movie_budget < 800:
    if movie_col <= 1000:
        print(movie_col,'is average')
    elif movie_col >1000 and movie_col <= 1500:
        print(movie_name, 'is hit')
    else:
        print(movie_name,'is Blockbuster')

movie_col-->>>476
pushpa--->>>500
pushpa is FLOP

In [7]:
# ternary expression:

In [9]:
movie_col=random.randint(250,800)
movie_budget=random.randint(100,500)
print(movie_col,movie_budget, sep='--->>>')
success_status = ""
if movie_col > 3*movie_budget:
    success_status = 'HIT'
else:
    success_status = 'FLOP/Average'

print('success_status', success_status, sep='-->>')

311--->>>110
success_status-->>FLOP/Average

In [10]:
success_status = 'HIT' if movie_col > 3*movie_budget else 'FLOP/Average'
success_status

'FLOP/Average'

In [12]:
# while statement:

In [20]:
num = 0
while num < 10:
    square = num**2
    print(square)
    num += 1            # num = num + 1
print('i am done')

0
1
4
9
16
25
36
49
64
81
i am done

In [21]:
n = 0 
while n <= 10:
    print(n)
    n +=1

0
1
2
3
4
5
6
7
8
9
10

In [6]:
i = 1
while i <= 10:
    if i==6:
        break
    elif i % 2 == 0:
        print(i)

    i+=1

2
4

In [ ]:
# for loop today:

In [13]:
import random
var = random.choices(range(100), k = 15)    # k means how many numbers can pick up 

for i in var:
    print(i)

45
8
94
62
56
74
3
81
0
62
32
75
31
68
55

In [15]:
for s in 'manikanta':
    print(s)
    print(s*4)

m
mmmm
a
aaaa
n
nnnn
i
iiii
k
kkkk
a
aaaa
n
nnnn
t
tttt
a
aaaa

In [18]:
scores = tuple(random.choices(range(-10,25), k = 10))
print(scores)

for ele in scores:
    print(ele)

(-10, -1, 3, 18, -4, 23, -6, -10, -5, 23)
-10
-1
3
18
-4
23
-6
-10
-5
23

In [24]:
roll_numbers = range(1,7)
marks = random.choices(range(60,100), k = 7)
print(list(roll_numbers),marks,sep='--')
roll_marks=list(zip(roll_numbers,marks))
print(roll_marks)

for i in roll_marks:
    print(i)

[1, 2, 3, 4, 5, 6]--[96, 74, 71, 62, 60, 77, 89]
[(1, 96), (2, 74), (3, 71), (4, 62), (5, 60), (6, 77)]
(1, 96)
(2, 74)
(3, 71)
(4, 62)
(5, 60)
(6, 77)

In [26]:
lst = [(1,1,1),(2,2,2),(3,3,3)]

for (a,b,c) in lst:                 # this is only for tuple case: 
    print(a,b,c, sep='--')

1--1--1
2--2--2
3--3--3

In [27]:
lst = [[1,2],[3,4],[5,6]]

for [n1,n2] in lst:             # list also can be worked 
    print([n1,n2])

[1, 2]
[3, 4]
[5, 6]

In [30]:
dt = {'name':'mani','age':27,'city':'kakinada'}

for ele in dt:
    print(ele,dt[ele],sep='-')

name-mani
age-27
city-kakinada

In [32]:
for ele in dt.keys():
    print(ele)

name
age
city

In [34]:
for val in dt.values():
    print(val)

mani
27
kakinada

In [41]:
#dt.items()
for (key,value) in dt.items():
    print(key,value,sep=':')

name:mani
age:27
city:kakinada

In [47]:
# nested for loops:

boys = ['mani','ramesh','shankar','ram']
girls = ['seeta','geeta','reeta']

for boy in boys:
    for girl in girls:
        print(boy, 'can pari with', girl)
    print(' ')

mani can pari with seeta
mani can pari with geeta
mani can pari with reeta

ramesh can pari with seeta
ramesh can pari with geeta
ramesh can pari with reeta

shankar can pari with seeta
shankar can pari with geeta
shankar can pari with reeta

ram can pari with seeta
ram can pari with geeta
ram can pari with reeta

In [ ]:
# range:

In [1]:
r = range(0,4)
print(r)

range(0, 4)

In [2]:
type(r)

range

In [3]:
r[1]

1

In [4]:
r[2]

2

In [7]:
r[3]

3

In [8]:
r[4]

IndexError: range object index out of range

In [6]:
for ele in r:
    print(ele)

0
1
2
3

In [10]:
r1=range(0,20,2)
for  i in r1:
    print(i)

0
2
4
6
8
10
12
14
16
18

In [14]:
# len :

name = 'manikanta'
for ele in range(len(name)):
    print(ele,name[ele],sep='==')

0==m
1==a
2==n
3==i
4==k
5==a
6==n
7==t
8==a

In [16]:
# zip:

import random
rolls = list(range(1,6))
values = random.choices(range(10,100),k = 5)

print(rolls)
print(values)

[1, 2, 3, 4, 5]
[44, 90, 67, 75, 47]

In [23]:
clst=zip(rolls,values)

In [24]:
clst

In [25]:
r = list(clst)          # convert zip to list
r

[(1, 44), (2, 90), (3, 67), (4, 75), (5, 47)]

In [26]:
for ele in r:
    print(ele)

(1, 44)
(2, 90)
(3, 67)
(4, 75)
(5, 47)

In [30]:
n = 'manikanta'
s = 'string'
zs = zip(n,s)
zs

In [31]:
r1 = list(zs)
r1

[('m', 's'), ('a', 't'), ('n', 'r'), ('i', 'i'), ('k', 'n'), ('a', 'g')]

In [32]:
names = 'mani'
sn = 'kanta'

a = zip(names,sn)
a

In [33]:
rr = set(a)
rr

{('a', 'a'), ('i', 't'), ('m', 'k'), ('n', 'n')}

In [34]:
# map:

In [35]:
lst = random.choices(range(10,100), k = 7)
lst

[49, 68, 56, 17, 33, 77, 42]

In [36]:
import math
roots=[]
for ele in lst:
    res = math.sqrt(ele)
    roots.append(res)
roots

[7.0,
 8.246211251235321,
 7.483314773547883,
 4.123105625617661,
 5.744562646538029,
 8.774964387392123,
 6.48074069840786]

In [37]:
list5 = random.choices(range(-50,50),k=12)
list5

[9, -23, 47, -14, 29, -27, 2, -8, 4, -26, 17, -4]

In [39]:
m1 =list(map(abs,list5))
m1

[9, 23, 47, 14, 29, 27, 2, 8, 4, 26, 17, 4]

In [40]:
'mani'.upper()

'MANI'

In [41]:
rolls = [1,3,4]
powers = [5,6,7]

In [42]:
list(map(pow, rolls,powers))

[1, 729, 16384]

In [43]:
rolls

[1, 3, 4]

In [7]:
# filter:
import random
vals = random.choices(range(10,100),k=5)
vals

[54, 60, 53, 54, 58]

In [8]:
def is_positive(num):
    if num >= 90: return True
    else: return False

In [9]:
f1 = filter(is_positive,vals)
f1

In [10]:
list(f1)

[]

In [11]:
# enumerate:            # it is used for accessiing index values
ls= [45,True,'hello',(23,4,False),[22,4,5],1,False]

In [12]:
len(ls)

7

In [13]:
ls[4]

[22, 4, 5]

In [14]:
for el in ls:
    print(el)

45
True
hello
(23, 4, False)
[22, 4, 5]
1
False

In [16]:
e1 = enumerate(ls)
e1

In [17]:
list(e1)

[(0, 45),
 (1, True),
 (2, 'hello'),
 (3, (23, 4, False)),
 (4, [22, 4, 5]),
 (5, 1),
 (6, False)]

In [18]:
# reduce:
import random
numbers = random.choices(range(-10,10),k=8)
numbers

[9, 3, 8, -4, -6, 4, 7, -4]

In [19]:
def add(x,y):
    return x+y
add(10,5)

15

In [21]:
from functools import  reduce
rn = reduce(add,numbers)
rn

17

In [22]:
# map(function, list/tuple/set/strings) == map object
# filter(function, list/tuple/set/string)== filter object
# reduce(function, list/tuple/set/string) == single value

In [23]:
# range, zip, map, filter, enumerate, reduce

In [24]:
# what is iteration protocol - protocol that supports the ite() or __next__()

In [26]:
import math
n = [1,2,3,4,5]
m1 = map(math.sqrt, n)
m1

In [27]:
m1.__next__()

1.0

In [28]:
m1.__next__()

1.4142135623730951

In [29]:
next(m1)

1.7320508075688772

In [30]:
iter(m1)